table.books {
    border: solid 1px #ccc;
}

table.books tr {
    border: solid 1px #ccc;
}

table.books td {
    border: solid 1px #ccc;
}


table.books col.title {
    width: 300px;
}

ul#categories {
    margin: 5px 5px;
    border: dotted 1px #ccc;
    list-style: none;
}

ul#categories li {
    display: inline;
    padding: 2px 5px 2px;
}
