form {
    width: 600;
    margin: 5px;
    padding: 0.5em;
    border: solid 1px #aaa;
}

form li {
    clear: both;
}

form label {
    width: 100px;
    float: left;
}

form textarea {
    float: left;
}