<% action = params[:action] == "checked_out" ? :checked_out : nil %>
<ul id="categories">
  <% if @category %>
  <li><%= link_to "すべて", [ action, :books ] %></li>
  <% end %>
  <% Category.all.each do |c| %>
  <% if c == @category %>
  <li class="selected" style="color: <%= c.color %>"><%= c.name %></li>
  <% else %>
  <li><%= link_to "#{c.name}(#{c.books.size})", [ action, c, :books ], :style => "color: #{c.color}" %></li>
  <% end %>
  <% end %>
</ul>
