<ul class="menu">
  <li><%= link_to_unless_current "本の一覧", :books %></li>
  <li><%= link_to_unless_current "本の新規登録", [ :new, :book ] %></li>
  <li><%= link_to_unless_current "カテゴリーの一覧", :categories %></li>
</ul>
